name: $(date:yyyyMMdd)$(rev:.rr)

trigger:
  batch: true
  branches:
    include:
    - '*'

variables:

- template: global-variables.yml

stages:

- template: build-stage.yml

- template: publish-stage.yml
  parameters:
    RepositoryConnection: MyGet_PsGallery

- template: publish-stage.yml
  parameters:
    Condition: and( succeeded(), or( eq(variables['Build.SourceBranch'], 'refs/heads/master'), in( variables['Build.Reason'], 'Manual', 'Schedule' ) ) )
    RepositoryConnection: PsGallery

- template: tag-stage.yml
